<main class="mainChat">
  <section class="sectionChat">
    <input type="text" id="message" placeholder="Escriba un mensaje:" />
    <div id="messages"></div>

  </section>
</main>
{{! SweetAlert Script }}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{! Toastify Script }}
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
{{! WebSocket Script }}
<script src="/socket.io/socket.io.js"></script>
{{! Main Script }}
<script src="/js/chat.js"></script>