<h2>Login:</h2>
<hr>
<form action="/api/sessions/login" method="post">

    {{#if error}}
        <div style="font-weight: bolder; color: red;">{{error}}</div>
    {{/if}}

    <input type="email" name="email" placeholder="correo electrónico">
    <input type="password" name="password" placeholder="contraseña">
    <input type="text" name="web" value="web" hidden>
    <br><br>
    <input type="submit" value="Login">
</form>

<button style="border-radius: 60px;"><a style="margin: 5px;" href="/api/sessions/github">Inicio de sesion con github</a></button>
<br><br>
