<h2>Usuario {{usuario.nombre}}</h2>
<hr>
<h3>Datos usuario:</h3>
<p>Nombre: <strong>{{usuario.nombre}}</strong></p>
<p>Correo electrónico: <strong>{{usuario.email}}</strong></p>
<br><br>
<h1>Menu</h1>

<ul>
    <li>
        <a href="/">Home Page</a>
    </li>
    <li>
        <a href="/registro">Registro</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/perfil">Perfil</a>
    </li>
    <li>
        <a href="/api/sessions/logout">Logout</a>
    </li>
</ul>